---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenido a Informática con Fran</h1>
			<p>
				Bienvenido a este pequeño refugio en la gran red que es internet donde mostraré
				algunos experimentos de informática, proyectos, contenido de sistemas, ciberseguridad
				y algunas cuestiones relacionadas. Muchas gracias por tu visita.
			</p>
			<p>
				Si quieres contactar conmigo para tratar algún tema puedes hacerlo en 
				<a href="https://www.linkedin.com/in/franciscosierradelarosa/"> Linkedin</a>

			</p>
			<p>Algunos temas a tratar:</p>
			<ul>
				<li>Administración de Sistemas</li>
				<li>Redes y Comunicaciones</li>
				<li>Ciberseguridad defensiva... y por qué no, un poco de ofensiva</li>
				<li>Cloud, Virtualización y DevOps</li>
				<li>Programación y Automatización</li>
			</ul>
			<p>
				¡Vamos allá!
			</p>
		</main>
		<Footer />
	</body>
</html>
